* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

nav {
  background: rgba(209, 233, 255, 0.47);
}

.navbar .nav-con {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #474747;
  margin: auto;
}

.navbar-links ul {
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar-links ul li {
  list-style: none;
}

.navbar-links ul li a {
  text-decoration: none;
  color: #474747;
  padding: .5rem 1rem;
  font-size: 18px;
  font-weight: bold;
  color: #1989EB;
  display: block;
}

.blk-link {
  color: #000 !important;
}

.navbar-links ul li:hover {
  background-color: #00ffff4d;
  border-radius: 4px;
}


.toggle-button {
  position: absolute;
  top: .1.2rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #333;
  border-radius: 10px;
}

.backg {
  background-image: url(https://res.cloudinary.com/rumplestiltskin/image/upload/v1573048004/stay-busy/bg_pfnpns.png);
  background-repeat: no-repeat;
}

.clr {
  background: rgba(0, 0, 0, 0.8);
  padding: 3rem 0;
}

.flexy {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.box1 {
  width: 40%;
}

.box2 {
  width: 50%;
  text-align: center;
}

.box2 img {
  padding-top: 1rem;
  max-width: 250px;
  width: 100%;
}

.flexy h1 {
  font-size: 55.4664px;
  color: #fff;
}

.flexy p {
  font-size: 24px;
  color: #828282;;
}

.black {
  background-color: #000;
}

.img-div {
  text-align: center;
  margin: auto;
  padding: 5rem 0;
}

.img-div .image {
  width: 50%;
  margin: auto;
}

.img-div img {
  width: 100%;
}

.img-div p {
  color: #fff;
  font-size: 14px;
}

.small-flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bg {
  width: 50%;
  text-align: justify;
}

.sm {
  width: 42%;
  /* height: inherit; */
  display: flex;
  margin: auto;
}

.sm img {
  width: 100%;
  }

.btn-div div {
  padding: 2rem 0;
}

input {
  padding: 0.5rem;
  border-radius: 20px;
}

.circles {
  display: flex;
  justify-content: space-between;
}

.circles-div{
  width: 28%;
  text-align: center;
}

.round {
  width:100%;
  height: 115px;
  border-radius: 50%;
}

.right {
  width: 53%;
  text-align: right !important;
}

.primary {
  background: #AFAFAF;
}

.secondary {
  background: #FCE3C4;
}

.grey {
  background: #fcfcfc;
  margin: 2rem 0;
}

.img-flex {
  display: flex;
}

.android {
  width: 50%;
}

.img-flex img {
  width: 100%;
}

.black-bg {
  background-color: #000;
  color: #fff;
}

.con {
  padding: 4rem 0;
}

.space {
  margin: 3rem 0;
}

.txt {
  width: 60%;
}

.long-txt {
  font-size: 18px;
}

.strong {
  font-weight: bold;
}

.pic {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.polygon2 {
  width: 10%;
  margin: 0 0 0 10rem;
}

.pic img {
  width: 100%;
}

.quote {
  font-size: 100px;
  color: rgba(252, 227, 196, 0.6);
}

.right-txt {
  float: right;
}

.small-img {
  width: 32%;
  margin: 0.5rem;
}

.small-img div {
  /* width: 80%; */
  margin: auto;
}

.small-img img {
  width: 100%;
  /* margin: 0.5rem; */
}

.txt-center {
  text-align: center;
}

.justify-txt {
  text-align: justify;
}

.footer-items .icon-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.footer-items ul li {
  list-style: none;
}

.footer-items ul li a {
  color: #555555;
}

footer h2 {
  color: #105293;
  text-decoration: none;
}

footer .direction {
  color: #105293;
}

footer ul .fa {
  font-size: 24px;
}

.footer-item {
  width: 23%;
}

.phone,
.mail {
  padding: 0;
}

.mail a,
.phone a {
  text-decoration: none;
}

.copy-right {
  width: 80%;
  margin: auto;
  padding: .2rem 0 1rem 0;
}

.copy-right p {
  font-size: 14px;
}

.line {
  display: flex;
  justify-content: center;
}

.iconbg {
  background-color: blue;
  padding: 0.5rem;
  border-radius: 50%;
  transform: rotateZ(45deg);
}

.blue {
  background-color: blue;
  padding: 0.3rem;
  border-radius: 50%;
}

.iconbg i {
  color: #fff;
}

.plain-txt {
  font-size: 14px !important;
}

.other-txt {
  text-align: center;
  color: #fff;
}

.gallery div {
  width: 50%;
  margin: auto;
}

.gallery div img {
  width: 100%;
}

.bg-nxt {
  background: url(https://res.cloudinary.com/rumplestiltskin/image/upload/v1573045418/stay-busy/bg-nxt_pr7ldj.png);
}

.pad {
  padding: 2rem 0;
  background: rgba(0, 0, 0, 0.9);
}

.size {
  width: 80%;
  margin: auto;
}

.slider-nav {
  width: 15%;
  justify-content: space-around;
  display: flex;
  margin: auto;
  padding: 2rem 0;
}

.slider-nav i {
  font-size: 50px;
  font-weight: 100;
  color: grey;
}

.slider-nav i:hover {
  cursor: pointer;
  color: #fff;
}

.normal p {
  color: #000000;
  font-weight: lighter;
}

.bold p {
  color: #000000;
  font-weight: bold;
}

.one {
  background-color: #fce3c4;
}

.two {
  background-color: #0d0d0d;
}

.three {
  background-color: #afafaf;
}

.hamburger {
  width: 80px;
  margin: auto;
}

.mg {
  margin: 5rem 0;
}

.hamburger .bar {
  width: 75px;
  height: 8px;
  margin: 0.5rem;
  background: #C4C4C4;
  display: flex;
  flex-direction: column;
}

.angle {
  height: 64px;
  width: 67px;
  background-color: grey;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  margin: auto;
}

.ball {
  height: 64px;
  width: 67px;
  background: #C4C4C4;
  border-radius: 50%;
  margin: auto;
}

.top-con {
  background: #000;
}

.fig {
  margin: 1rem;
}

.dark-txt {
  color: #000 !important;
}

.long-txt {
  text-align: justify;
}

.btn-div input {
  text-align: center;
}

.footer-header {
  font-size: 24px;
  font-weight: 800;
}

.footer-txt {
  font-size: 18px;
  font-weight: 600;
}

.design-flex {
  display: flex;
  height: inherit;
  flex-direction: column;
  justify-content: space-between;
}

.design-flex div {
  margin: 0 0 1rem 0;
}

.design p {
  font-size: 18px;
}

.triangle {
  width: 67px;
  height: 67px;
  margin: auto;
}

@media screen and (min-width: 980px) {
  .round {
    height: 150px;
  }
}

@media screen and (max-width: 970px) {
  .small-flex {
    flex-direction: column;
  }

  .btn-div div {
    text-align: left;
  }

  .right {
    width: 50%;
  }

  .bg {
    width: 100%;
  }
}

@media screen and (max-width: 907px) {
  .footer-items {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-item {
    width: 30%;
  }
}

@media screen and (max-width: 870px) {
  .img-div .image img {
    width: 70%;
  }

  .flexy {
    width: 90%;
    padding: 2rem;
  }
}

@media screen and (max-width: 795px) {
  .flexy,
  .size {
    width: 100%;
  }

  .navbar .nav-con {
    width: 100%;
    padding: 1rem 2rem
  }
}

@media screen and (max-width: 716px) {
  .change-flex {
    flex-direction: column;
  }

  .box2 {
    width: 80%;
    margin: auto;
  }

  .right,
  .box1 {
    width: 100%;
  }

  .sm {
    width: 60%;
    margin: auto;
  }

  .btn-div div {
    text-align: center;
  }
}

@media screen and (max-width: 638px) {
  .upright {
    flex-direction: column;
  }
  .upright .txt,
  .upright .pic {
    width: 80%;
    margin: auto;
  }

  .pic .auto {
    margin: auto;
  }

  .polygon2 {
    margin: 0 0 0 10rem;
  }
}

@media screen and (max-width: 625px) {
  .upright .txt {
    margin: 0;
    width: 100%;
  }
}

@media screen and (max-width: 590px) {
  .triple {
    flex-direction: column;
  }
  .small-img {
    width: 80%;
    margin: auto;
  }
  .small-flex {
    flex-direction: column;
  }
  .small-flex bg {
    width: 80%;
    margin: auto;
  }
  .bg {
    width: 100%;
  }
  .btn-div,
  .btn-div input {
    text-align: center;
  }
  .footer-item {
    width: 50%;
  }
}

@media screen and (max-width: 560px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar .nav-con {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: .5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }

  .dark-txt strong {
    font-size: 20px;
  }
}

@media screen and (max-width:400px) {
  .footer-item {
    width: 100%;
  }

  .box1 {
    width: 100%;
  }

  .box1 h1 {
    font-size: 40px;
  }

  .icon-list li {
    justify-content: flex-start;
  }

  .slider-nav {
    width: 33%;
  }

  .hamburger .bar {
    width: 62px;
  }

  .mg {
    margin: 5rem 0;
  }

  .round {
    height: 82px;
  }

  .dark-txt strong {
    font-size: 15px;
  }
}
